@using LdCms.EF.DbModels
@using LdCms.EF.DbViews
@using LdCms.Common.Utility
@using LdCms.Common.Extension
@model IEnumerable<Ld_Sys_InterfaceAccount>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 接口管理 <span class="c-gray en">&gt;</span> 账号管理 <a id="btn_refresh" class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" name="datemin" class="input-text Wdate" style="width:120px;" value="@ViewBag.DateMin" />
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" name="datemax" class="input-text Wdate" style="width:120px;" value="@ViewBag.DateMax" />
        <input type="text" class="input-text" style="width:450px" placeholder="输入账号、AppID" id="keyword" name="keyword" value="@ViewBag.Keyword" />
        <button type="submit" class="btn btn-success radius" id="search" name="search" onclick="$.mainu.search()"><i class="Hui-iconfont">&#xe665;</i> 查找</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="$.mainu.deleteBatch()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a href="@Url.Action("list")" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe667;</i> 账号列表</a>
            <a href="javascript:;" onclick="$.mainu.add('新增操作员', '@Url.Action("add")')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增账号</a>
        </span>
        <span class="r" onclick="$.mainu.dayin()">共有数据：<strong>@ViewBag.Count</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="120">账号</th>
                    <th width="150">AppID</th>
                    <th width="">描述</th>
                    <th width="80">WCF</th>
                    <th width="100">WebService</th>
                    <th width="80">WebApi</th>
                    <th width="70">状态</th>
                    <th width="120">创建时间</th>
                    <th width="180">操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var m in Model)
                    {
                        <tr class="text-c">
                            <td><input type="checkbox" name="id" value="@m.Account"></td>
                            <td>@(Html.Raw(Utility.Highlight(m.Account, ViewBag.keyword)))</td>
                            <td class="text-l">@(Html.Raw(Utility.Highlight(m.AppID, ViewBag.keyword)))</td>
                            <td class="text-l">@m.Description</td>
                            <td>@(m.IsWcf.ToBool() ? "是" : "否")</td>
                            <td>@(m.IsWeb.ToBool() ? "是" : "否")</td>
                            <td>@(m.IsApi.ToBool() ? "是" : "否")</td>
                            <td class="td-status">@(m.State.ToBool() ? Html.Raw("<span class='label label-success radius'>已启用</span>") : Html.Raw("<span class='label label-defaunt radius'>已停用</span>"))</td>
                            <td>@(m.CreateDate.HasValue ? m.CreateDate.Value.ToString("yyyy-MM-dd HH:mm") : "-")</td>
                            <td class="td-manage">
                                @if (m.State.ToBool())
                                {
                                    <a title="停用" href="javascript:;" class="ml-5" style="text-decoration:none" onClick="$.mainu.stop(this,'@m.Account')">停用</a>
                                }
                                else
                                {
                                    <a title="启用" href="javascript:;" class="ml-5" style="text-decoration:none" onClick="$.mainu.start(this,'@m.Account')">启用</a>
                                }
                                <a title="查看" class="ml-5" style="text-decoration:none" href="javascript:;" data-title="帐号详情" data-href="@Url.Action("Show", new { Account = m.Account })" onclick="Hui_admin_tab(this)">查看</a>
                                <a title="改密" class="ml-5" style="text-decoration:none" href="javascript:;" onclick="$.mainu.add('修改员工密码','@Url.Action("UpdatePassword", new { Account = m.Account })','','')">改密</a>
                                <a title="编辑" class="ml-5" style="text-decoration:none" href="javascript:;" onclick="$.mainu.add('编辑','@Url.Action("add", new { Account = m.Account })','','')">编辑</a>
                                <a title="删除" class="ml-5" style="text-decoration:none" href="javascript:;" onclick="$.mainu.delete(this,'@m.Account')">删除</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="pt-30" style="width:100%; height:60px;"></div>
@*
    --------------
    页面底部JS脚本
    --------------
*@
@section scripts{
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admin/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="~/admin/static/h-ui.admin/js/H-ui.admin.common.js"></script>
    <script type="text/javascript">
        (function ($) {
            $.mainu = {
                init: function () {
                    $('.table-sort').dataTable({
                        "aaSorting": [[8, "desc"]],                    //默认第几个排序
                        "bStateSave": true,                           //状态保存
                        "aoColumnDefs": [
                          { "orderable": false, "aTargets": [0, 9] } // 制定列不参与排序
                        ],
                        "aLengthMenu": [10, 25, 50, 100]
                    });
                },
                search: function () {
                    $dateMin = $("input[name='datemin']").val();
                    $dateMax = $("input[name='datemax']").val();
                    $keyword = $("input[name='keyword']").val();
                    if ($keyword == "") {
                        if ($dateMin == "" || $dateMax == "") {
                            layer.alert('日期范围不能空', { icon: 5 });
                            return;
                        }
                    }
                    var param = {
                        datemin: $dateMin,
                        datemax: $dateMax,
                        keyword: $keyword
                    };
                    var url = "?" + urlEncodes(param);
                    window.location.href = url;
                },
                add: function (title, url, w, h) {
                    layer_show(title, url, w, h);
                },
                stop: function (obj, id) {
                    layer.confirm('确认要停用吗？', function (index) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UpdateState")',
                            data: { account: id, state: false },
                            dataType: 'json',
                            success: function (result) {
                                var state = result.state;
                                var message = result.message;
                                if (state == "success") {
                                    $(obj).parents("tr").find(".td-manage").prepend('<a title="启用" href="javascript:;" class="ml-5" style="text-decoration:none" onClick="$.mainu.start(this,\'' + id + '\')">启用</a>');
                                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                                    $(obj).remove();
                                    layer.msg('已停用！', { icon: 5, time: 3000 });
                                } else {
                                    layer.msg(message, { icon: 5, time: 3000 });
                                }
                            },
                            error: function (data) {
                                console.log(data.msg);
                            }
                        });
                    });
                },
                start: function (obj, id) {
                    layer.confirm('确认要启用吗？', function (index) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UpdateState")',
                            data: { account: id, state: true },
                            dataType: 'json',
                            success: function (result) {
                                var state = result.state;
                                var message = result.message;
                                if (state == "success") {
                                    $(obj).parents("tr").find(".td-manage").prepend('<a title="已停用" href="javascript:;" class="ml-5" style="text-decoration:none" onClick="$.mainu.stop(this,\'' + id + '\')">停用</a>');
                                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                                    $(obj).remove();
                                    layer.msg('已启用！', { icon: 6, time: 3000 });
                                } else {
                                    layer.msg(message, { icon: 5, time: 3000 });
                                }
                            },
                            error: function (data) {
                                console.log(data.msg);
                            }
                        });
                    });
                },
                delete: function (obj, id) {
                    layer.confirm('确认要删除吗？', function (index) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("delete")',
                            data: { account: id },
                            dataType: 'json',
                            success: function (result) {
                                var state = result.state;
                                var message = result.message;
                                if (state == "success") {
                                    $(obj).parents("tr").remove();
                                    layer.msg('已删除！', { icon: 1, time: 2000 });
                                } else {
                                    layer.msg(message, { icon: 5, time: 3000 });
                                }
                            },
                            error: function (data) {
                                console.log(data.msg);
                            },
                        });
                    });
                },
                deleteBatch: function () {
                    layer.confirm('确认要删除吗？', function (index) {
                        var arrId = [];
                        $("input:checkbox[name='id']:checked").each(function () {
                            arrId.push($(this).val());
                        });
                        if (arrId.length == 0) {
                            layer.msg('请选择要删除的数据！', { icon: 5, time: 2000 });
                            return;
                        }
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteBatch")',
                            data: { arrid: arrId },
                            dataType: 'json',
                            success: function (result) {
                                var state = result.state;
                                var message = result.message;
                                if (state == "success") {
                                    window.location.replace(location.href);
                                } else {
                                    layer.msg(message, { icon: 5, time: 3000 });
                                }
                            },
                            error: function (data) {
                                console.log(data.msg);
                            },
                        });
                    });
                }
            };
            $(function () {
                $.mainu.init();
            });
        })(jQuery);
    </script>
}

