@using LdCms.EF.DbViews
@using LdCms.Common.Utility
@using LdCms.Common.Extension
@model V_Sys_Operator
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="page-container">
    <form action="@Url.Action("Save",new { staffId = Model.StaffID })" method="post" class="form form-horizontal" id="form-add">
        <div class="row cl">
            <div class="admin-add-top-tips">提示：员工初始化密码为手机后8位组成。</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>员工编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@Model.StaffID" placeholder="" id="fStaffId" name="fStaffId" @(string.IsNullOrEmpty(Model.StaffID) ?"":"disabled") />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>选择角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" size="1" id="fRoleId" name="fRoleId"></select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="fRemark" name="fRemark" cols="" rows="" class="textarea" placeholder="说点什么...100个字符以内" dragonfly="true">@Model.Remark</textarea>
                <p class="textarea-numberbar"><em class="textarea-length"></em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">审核：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="fState" name="fState" value="1" @(Model.State.ToBool() ? "checked" : "") />
                    <label for="checkbox-1">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

@*
    --------------
    页面底部JS脚本
    --------------
*@
@section css{
    <link href="~/admin/lib/jquery.ui/1.12.1/jquery-ui.css" rel="stylesheet" />
}
@section scripts{
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/admin/lib/jquery.ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        (function ($) {
            $.mainu = {
                init: function () {
                    $('.skin-minimal input').iCheck({
                        checkboxClass: 'icheckbox-blue',
                        radioClass: 'iradio-blue',
                        increaseArea: '20%'
                    });
                    $("#fRemark").Huitextarealength({
                        minlength: 4,
                        maxlength: 100
                    });
                    $.mainu.getRole('@Model.RoleID');
                    $.mainu.getStaff();
                },
                getRole: function (setRoleId) {
                    var url = "@Url.Action("role-list-get")";
                    $.ajaxSetup({ cache: false });
                    $.get(url, { id: 0 }, function (result) {
                        var state = result.state;
                        var message = result.message;
                        var strOption = '<option value="" selected>请选择角色</option>';
                        if (state == "success") {
                            var total = result.data.total;
                            var list = result.data.list;
                            for (var i = 0; i < list.length; i++) {
                                if (setRoleId == list[i].role_id)
                                    strOption += '<option value="' + list[i].role_id + '" selected>' + list[i].role_name + '</option>';
                                else
                                    strOption += '<option value="' + list[i].role_id + '">' + list[i].role_name + '</option>';
                            }
                        }
                        $("#fRoleId").html(strOption);
                    });
                },
                getStaff: function () {
                    var url = "@Url.Action("staff-list-get")";
                    $.ajaxSetup({ cache: false });
                    $.get(url, function (result) {
                        $("#fStaffId").autocomplete({
                            source: result.data.list
                        });
                    },"json");
                },
                formSubmit: function () {
                    $("#form-add").validate({
                        rules: {
                            fRoleId: {
                                required: true
                            },
                            fStaffId: {
                                required: true
                            }
                        },
                        onkeyup: false,
                        focusCleanup: true,
                        success: "valid",
                        submitHandler: function (form) {
                            var fStaffId = $("input[name='fStaffId']").val();
                            var fState = $("input[name='fState']").is(':checked');
                            $(form).ajaxSubmit({
                                type: "POST",
                                cache: false,
                                data: { fStaffId: fStaffId, fState: fState },
                                dataType: "json",
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    if (XMLHttpRequest.status != 200) {
                                        layer.alert("POST[FAIL]", { icon: 5 });
                                    }
                                },
                                success: function (result) {
                                    var state = result.state;          //错误代码
                                    var message = result.message;        //错误说明
                                    if (state == "success") {
                                        var index = parent.layer.getFrameIndex(window.name);
                                        parent.location.reload();
                                        parent.layer.close(index);
                                    } else {
                                        layer.alert(message, { icon: 5 });
                                    }
                                }
                            });
                        }
                    });
                }
            };
            $(function () {
                $.mainu.init();
                $.mainu.formSubmit();
            });

        })(jQuery);




    </script>
}

